<app-header></app-header>
<div class="content">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="round-body-left pullright m-auto">
        <div class="round-body-text">
          <h2 class="c-green letter-sp-2">Total 10</h2>
          <p class="p-4">Product & Status</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 col align-self-end p-b-15">
          <div class="round-body1" routerLink="/page3">
            <div class="round-body-text">
              <p class="">Product</p>
            </div>
          </div>
        </div>
        <div class="col-12 align-self-start">
          <div class="round-body1" routerLink="/page3">
            <div class="round-body-text">
              <p class="">Status</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>