/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.cus-nav{
    height: 100vh;
    width: 70px;
    text-align: center;
    position: fixed !important;
    top: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: -2px 1px 25px black;
}
.cus-nav img{
    width: 100%;
}
body{
    background: #f7f5f5;
    font-family: Arial Narrow, sans-serif;
}
.cus-nav li.nav-item {
    margin-top: 10px;
}
a, a:hover {
    color: unset;
}
.cus-nav .nav-link {
    display: block;
    padding: .9rem 1rem;
}
li.active.nav-item {
    border-right: #e43f5c 6px solid;
}
li.active.nav-item a{
    padding-right: 9px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 70px;
}
.c-bule{
color: #007bff;
}
.c-green{
    color: green;
}
.content .row{
    text-align: center;
    min-height: 80vh;
    margin-left: 70px;
    margin-right: auto;
}
.content .row.page3{
    text-align: center;
    min-height: 40vh;
    margin-left: 70px;
    margin-right: auto;
}
.content .row.page3{
    margin-left: 0px;
}
.round-body{
    height: 200px;
    background-color: white;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 100px;
    width: 200px;
}
.round-body-left{
    height: 200px;
    background-color: white;
    box-shadow: 1px 2px 17px 0 #908484;
    border-radius: 100px;
    width: 200px;
}
.round-body-nav{
    height: 45px;
    background-color: white;
    box-shadow: 1px 2px 17px 0 #908484;
    border-radius: 25px;
    width: 45px;
    position: absolute;
    margin-left: -25px;
}
.round-body-nav2{
    height: 50px;
    background-color: white;
    box-shadow: 1px 2px 17px 0 #908484;
    border-radius: 25px;
    width: 50px;
    position: absolute;
    right: 10px;
    margin: 0 !important;
    /* top: 70px */
}
.round-body1{
    height: 150px;
    background-color: white;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 75px;
    width: 150px;
}
.round-body2{
    height: 120px;
    background-color: white;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 60px;
    width: 120px;
}
.round-body-text{
    padding-top: 50px;
}
.round-body-text-nav{
    padding-top: 12px;
}
.round-body1 .round-body-text{
    padding-top: 60px;
}
.letter-sp-2{
    letter-spacing: 2px;
}
@media (min-width: 768px) {
    .pullright{
        float: right;
    }
    .round-body-nav2{
        top: 25vh !important;
    }
 }
 @media (min-width: 1400px) {
    .round-body-nav2{
        top: 30vh !important;
    }
 }
 @media (max-width: 767.98px) { 
    .pullright{
       text-align: center
    }
    .round-body-nav2{
        top: 35px !important;
    }
 }
 .p-b-15{
    padding-bottom: 15px;
 }
 .p-l-10{
     padding-left: 10px;
 }
 .p-l-50{
     padding-left: 50px;
 }