/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.cus-nav{
    height: 100%;
    width: 70px;
    text-align: center;
    position: fixed !important;
    top: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: -2px 1px 25px black;
}
.cus-nav img{
    width: 100%;
}
body{
    background: #f7f5f5;
    font-family: Arial Narrow, sans-serif;
}
.cus-nav li.nav-item {
    margin-top: 10px;
}
a, a:hover {
    color: unset;
}
.cus-nav .nav-link {
    display: block;
    padding: .9rem 1rem;
}
li.active.nav-item {
    border-right: #e43f5c 6px solid;
}
li.active.nav-item a{
    padding-right: 9px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 70px;
}
.c-bule{
color: #007bff;
}
.c-green{
    color: green;
}
.content .row{
    text-align: center;
    min-height: 80vh;
    margin-left: 70px;
    margin-right: auto;
}
.content .row.page3{
    text-align: center;
    min-height: 40vh;
    margin-left: 70px;
    margin-right: auto;
}
.content .row.page3{
    margin-left: 0px;
}
.round-body{
    height: 200px;
    background-color: white;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 100px;
    width: 200px;
}
.round-body-left{
    height: 200px;
    background-color: white;
    box-shadow: 1px 2px 17px 0 #908484;
    border-radius: 100px;
    width: 200px;
}
.round-body-nav{
    height: 45px;
    background-color: white;
    box-shadow: 1px 2px 17px 0 #908484;
    border-radius: 25px;
    width: 45px;
    position: absolute;
    margin-left: -25px;
}
.round-body-nav2{
    height: 50px;
    background-color: white;
    box-shadow: 1px 2px 17px 0 #908484;
    border-radius: 25px;
    width: 50px;
    position: absolute;
    right: 10px;
    margin: 0 !important;
    /* top: 70px */
}
.round-body1{
    height: 150px;
    background-color: white;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 75px;
    width: 150px;
}
.round-body2{
    height: 120px;
    background-color: white;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 60px;
    width: 120px;
}
.round-body3{
    height: 120px;
    background-color: #e1ffdf;
    box-shadow: 0px 2px 50px -14px black;
    border-radius: 60px;
    width: 120px;
}
.round-body-text{
    padding-top: 50px;
}
.round-body-text-nav{
    padding-top: 12px;
}
.round-body1 .round-body-text{
    padding-top: 60px;
}
.letter-sp-2{
    letter-spacing: 2px;
}
@media (min-width: 768px) {
    .pullright{
        float: right;
    }
    .round-body-nav2{
        top: 10% !important;
    }
    .col1{
        vertical-align: middle;
        display: table-cell;
    }
    .col2{
        vertical-align: middle;
        display: table-cell;
    }
    .col3{
        vertical-align: middle;
        display: table-cell;
    }
    .col4{
        vertical-align: middle;
        display: table-cell;
    }
    .box .col1,.box .col2,.box .col3,.box .col4 {
        width: 25%;
    }
    .page3.box{
        display: table;
    }
 }
 @media (min-width: 1400px) {
    .round-body-nav2{
        top: 10% !important;
    }
 }
 @media (max-width: 767.98px) { 
    .pullright{
       text-align: center
    }
    .round-body-nav2{
        top: 35px !important;
    }
 }
 .p-b-15{
    padding-bottom: 15px;
 }
 .p-l-10{
     padding-left: 10px;
 }
 .p-l-50{
     padding-left: 50px;
 }
 .content .page3_h .row.page3 {
    min-height: auto !important;
}
.round-body3.active,.round-body2.active  {
    box-shadow: 0px 2px 10px 0 #0f7727;
    border: 1px solid green;
}
.page3.box{
    padding: 5% 0 0;
}
.box .col-3 {
    height: 100px;
   }
.box  span i {
    color: red;
}
.col1{
    background-color: rgba(0, 204, 0, 0.6);
    border-radius: 10px 0px 0 10px;
}
.col2{
    background-color:white;
}
.col3{
    background-color: #f3efef;
}
.col4{
    background-color: #e4e3e0;
    border-radius: 0px 10px 10px 0;
}
li.nav-item.active {
    background-color: #f7f5f5;
}